In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/sodas_data.csv')

In [3]:
data.head()

   user  user2    ts  rssi  weekday  hour  minute  second
0   780    325   4.0   -93        0     0       0       4
1   600    632   9.0   -97        0     0       0       9
2    47    448  12.0   -97        0     0       0      12
3   461    492  13.0   -87        0     0       0      13
4   401    136  14.0   -92        0     0       0      14

In [11]:
data.loc[0:5,['user','user2','ts','rssi']].to_html(buf = 'data_example.html')

In [12]:
data.shape

(820194, 8)