In [1]:
import pandas as pd
import scipy as scp

In [2]:
ts = scp.repeat(scp.arange(0,300*15,300),2)[1:-1]

In [3]:
lefts = scp.tile([True, False], 14)

In [4]:
values = scp.repeat(scp.rand(14)*15, 2)

In [5]:
data = pd.DataFrame({'t': ts, 'value': values, 'left': lefts})

In [6]:
data['jump'] = data.value.diff()

In [7]:
data.to_csv('step_testdata.csv', index=False)

In [8]:
data.head()

    left    t     value      jump
0   True    0  6.331016       NaN
1  False  300  6.331016  0.000000
2   True  300  1.960429 -4.370586
3  False  600  1.960429  0.000000
4   True  600  4.933164  2.972734